* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
header {
    background-color: #324dd570;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFCC70;
    text-shadow: 1px 1px rgba(62, 39, 211, 0.282);
    font-size: smaller;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container {
    background-color: #334dcf48;
    padding: 25px;
    margin-top: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}
h1 {
    color: #4158D0;
    text-shadow: 1px 1px rgba(62, 39, 211, 0.282);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .box {
    display: flex;
    flex-direction: column;
    gap: .3em;
    width: 100%;
}
.ingresoMonto {
    display: flex;
    flex-direction: row;
    width: 95%;
}
.ok {
    width: 25%;
    
}
label {
    color: #FFCC70;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    margin-block: 5px;
}
select {
    width: 95%;
    font-size: 1em;
    background-color: rgba(255, 20, 145, 0.496);
    border-radius: 5px;
    outline: none;
    border: none;
    color: black;
    padding: .1em;
    
}
input {
    width: 95%;
    font-size: 1em;
    padding: .1em;
    border-radius: 5px;
    border: none;
    margin-block: 5px;
    background-color: #4159d045;
    color: #f5b640;
}
input::placeholder {
    color: antiquewhite;
    font-size: small;
}
#recibe {
    background-color: #4159d060;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 3px;
    color: #f5b640c0;
    width: 95%;
}
.botonComprar {
    background-color: #FFCC70;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: rgb(31, 29, 29);
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botonComprar:hover {
    background-color: #f5b640;
}
.cero {
    background-color: #FFCC70;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: rgb(31, 29, 29);
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cero:hover {
    background-color: #f5b640;
}

section {
    display: flex;
    justify-content: center;
}

.containerLista {
    background-color: #334dcf48;
    padding: 25px;
    margin-top: 80px;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5em;
}
caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    color: #f5b640;

}
th {
    text-align: left;
    border-radius: 5px;
    color: rgb(223, 180, 124);
    background-color: #4158D0;
}
td {
    background-color: #4159d07f;
    color: rgb(223, 180, 124);
    font-size: small;
}


footer {
    width: 95%;
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
}
.firma {
    color: #C850C0;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
}

.cambioModo {
    margin-bottom: 10px;
    background-color: #5a1e6e;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: rgb(236, 210, 80);
    font-size: .8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cambioModo:hover {
    background-color: #1d092e;
}

.modo-oscuro {
    background-color: rgb(98,53,126);
    background-image: linear-gradient(43deg, rgba(56,14,82,1) 38%, rgba(85,71,30,1) 87%, rgba(33,37,41,1) 98%);
}